<h2 class="page-header">Dashboard</h2>
<br>
<div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Upload a picture of your tattoo</h3>
        </div>
        <div class="panel-body">
          <form method="POST" enctype="multipart/form-data" action="/api/posts">
            <input type="file" class="form-control" name="picture">
            <textarea class="form-control" placeholder="Short Description" name="caption"></textarea>
            <input class="form-control" type="text" value="" id="tags" placeholder="Add tags" name="tags" autocapitalize="off" style="width: 100% !important;">
            <br/>
            <br/>
            <button class="btn btn-primary" id="addPost">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-5"> -->

          <div class="col-sm-6" id="dash">

          </div>


        <!-- Custom Script  default blog.js-->

        <script src="js/dashboard.js" type="text/javascript"></script>
