<div class="container">

  <div class="row">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" id="top-today">Top Posts Today</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" id="all-time">Top Posts All Time</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" id="new">New Posts</a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div id="all-posts">
      </div>
    </div>
  </div>

</div>
<!-- Custom Script  default blog.js-->

<script src="js/home.js" type="text/javascript"></script>
