<div class="col-sm-6 col-sm-offset-3">

  <div class="form">
    <div id="signin">
      <h1>Welcome Back!</h1>

      <form action="/signin" method="post">

        <div class="field-wrap">
          <label>
              Email Address<span class="req">*</span>
            </label>
          <input type="email" name="email" required autocomplete="off" />
        </div>

        <div class="field-wrap">
          <label>
              Password<span class="req">*</span>
            </label>
          <input type="password" name="password" required autocomplete="off" />
        </div>

        <p class="forgot"><a href="#">Forgot Password?</a></p>

        <button type="submit" class="button button-block" />Log In</button>

      </form>

    </div>
  </div>
</div>
