<div class="col-sm-6 col-sm-offset-3">

  {{#if hasErrors}}
              <div class="alert alert-danger">
                  {{# each message}}
                      <p>{{this}}</p>
                  {{/each}}
              </div>
          {{/if}}

  <div class="form">
    <h1>Sign Up for Free</h1>
    <form action="/signup" method="post">
      <div class="top-row">
        <div class="field-wrap">
          <label>
                First Name<span class="req">*</span>
          </label>
          <input type="text" name="firstname" required autocomplete="off" />
        </div>
        <div class="field-wrap">
          <label>
                Last Name<span class="req">*</span>
          </label>
          <input type="text" name="lastname" required autocomplete="off" />
        </div>
      </div>

      <div class="field-wrap">
        <label>
              Email Address<span class="req">*</span>
        </label>
        <input type="email" name="email" required autocomplete="off" />
      </div>

      <div class="field-wrap">
        <label>
              Set A Password<span class="req">*</span>
        </label>
        <input type="password" name="password" required autocomplete="off" />
      </div>
      <button type="submit" class="button button-block" />Get Started</button>
    </form>
  </div>
</div>
